.wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.contentWrapper {
	display: flex;
	gap: 16px;
}

.form {
	display: flex;
	gap: 16px;
}

.select {
	flex: 0 1 300px;
}

.submit {
	flex: 0 0 80px;
	cursor: pointer;
}